<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
    <h1>thymeleaf 模板</h1>
    <span th:text="${str}"></span>
    <hr/>
    deptno:<span th:text="${dept.deptno}"></span><br/>
    dname:<span th:text="${dept.dname}"></span><br/>
    loc:<span th:text="${dept.loc}"></span><br/>
    <hr/>

    <h3>循环主题加内容</h3>
    <div th:each="dept:${list}">
        <span th:text="${dept.deptno}"></span>
        <span th:text="${dept.dname}"></span>
        <span th:text="${dept.loc}"></span>
    </div>
    <h3>下拉列表</h3>
    <select>
        <option th:each="dept:${list}" th:value="${dept.dname}" th:text="${dept.loc}" th:selected="${dept.deptno==1111}"></option>
    </select>

    <h3> 图片</h3>
    <img th:src="@{images/001.jpg}">
    <img th:src="@{${imgsrc}}"/>
</body>
</html>
